* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #23272e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.equal, .clear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-template-areas: "display display display display" "clear clear clear divide" "seven eight nine multiply" "four five six subtract" "one two three add" "zero deci backspace equal";
  padding: 20px;
  background-color: #161b1e;
  border-radius: 10px;
}
.container__button {
  font-size: 1.2rem;
}
.container__button--round {
  border-radius: 50%;
  font-size: 1.2rem;
}

.display {
  display: inline-grid;
  grid-area: display;
  background-color: #22353b;
  border-radius: 10px;
  line-height: 85px;
  overflow: hidden;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  color: #dbe3e5;
  text-align: right;
}

.clear {
  grid-area: clear;
  border-radius: 10px;
  background-color: #dfe1f8;
  color: #101c29;
}

.add {
  grid-area: add;
}

.subtract {
  grid-area: subtract;
}

.multiply {
  grid-area: multiply;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.zero {
  grid-area: zero;
}

.deci {
  grid-area: deci;
}

.backspace {
  grid-area: backspace;
}

.equal {
  grid-area: equal;
  background-color: #b7ebf8;
  color: #101c29;
}

.operator {
  background-color: #93add0;
  color: #101c29;
}

.num {
  background-color: #1a2527;
  color: #dbe3e5;
}
