@use "./partials/palette";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: linear-gradient(20deg, #203137 50%, #29373b 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

%flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// calculator container
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    grid-template-areas:
        "display display display display"
        "clear clear clear divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero deci equal equal";
    padding: 20px;

    background-color: palette.$calc-bg;
    border-radius: 10px;
}

.button {
    font-size: 1.2rem;
    border: none;
    &--round {
        border-radius: 50%;
        font-size: 2rem;
        border: none;
        -webkit-transition: background 0.2s, border-radius 0.2s;
        transition: background 0.2s, border-radius 0.2s;
    }
    &--round:hover {
        border-radius: 30px;
        background-color: palette.$numbers-bg-hover;
    }
}

// display & clear section
.display {
    display: inline-grid;
    grid-area: display;
    background-color: palette.$display;
    border-radius: 10px;
    line-height: 85px;
    overflow: hidden;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 3rem;
    color: palette.$numbers-text;
    text-align: right;
}
.clear {
    grid-area: clear;
    border-radius: 30px;
    background-color: palette.$clear-bg;
    font-size: 2rem;
    @extend %flexcenter;
    color: palette.$operators-text;
    -webkit-transition: background 0.2s, border-radius 0.2s;
    transition: background 0.2s, border-radius 0.2s;
}

.clear:hover {
    border-radius: 10px;
}

// operator grid areas
.add {
    grid-area: add;
}
.subtract {
    grid-area: subtract;
}
.multiply {
    grid-area: multiply;
}
.divide {
    grid-area: divide;
}

// number grid areas
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.zero {
    grid-area: zero;
}
.deci {
    grid-area: deci;
}
.backspace {
    grid-area: backspace;
}
.equal {
    grid-area: equal;
    background-color: palette.$equals-bg !important;
    border-radius: 10px;
    font-size: 3rem;
    color: palette.$operators-text;
    @extend %flexcenter;
}

// calculator colors
.operator {
    background-color: palette.$operators-bg;
    color: palette.$operators-text;
}
.operator:hover {
    background-color: palette.$operators-bg-hover;
}

.num {
    background-color: palette.$numbers-bg;
    color: palette.$numbers-text;
}
.selected-operator {
    background-color: palette.$operators-selected !important;
}
