// * samsung calculator
$bg: #23272e;
$display: #22353b;
$calc-bg: #161b1e;
$clear-bg: #dfe1f8;
$equals-bg: #b7ebf8;
$operators-bg: #93add0;
$operators-text: #101c29;
$numbers-bg: #1a2527;
$numbers-text: #dbe3e5;
